@model FSVentasCore.Models.Clientes

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<form asp-action="Create">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(function () {
        if ($("#ProvinciaId").val() == '0') {
            var CiudadesDefaultValue = "<option value='0'>--Select a Ciudades first--</option>";
            $("#CiudadId").html(CiudadesDefaultValue).show();

        }
        $(function () {
            if ($("#CiudadId").val() == '0') {
                var MunicipiosDefaultValue = "<option value='0'>--Select a Municipios first--</option>";
                $("#MunicipioId").html(MunicipiosDefaultValue).show();

            }
            $(function () {
                if ($("#MunicipioId").val() == '0') {
                    var SectorDefaultValue = "<option value='0'>--Select a Sector first--</option>";
                    $("#SectorId").html(MunicipiosDefaultValue).show();

                }

                $("#ProvinciaId").change(function () {
                    var selectedItemValue = $(this).val();

                    var ddlCiudades = $("#CiudadId");
                    $.ajax({
                        cache: false,
                        type: "GET",
                        url: '@Url.Action("GetCiudadByProvinciaId", "Clientes")',
                data: { "id": selectedItemValue },
                success: function (data) {
                    ddlCiudades.html('');
                    $.each(data, function (id, option) {
                        ddlCiudades.append($('<option></option>').val(option.CiudadId).html(option.CiudadNombre));
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Found error to load Ciudad!.');
                }
            });
        });
            });
             $("#CiudadId").change(function () {
            var selectedItemValue = $(this).val();

            var ddlMunicipio = $("#MuncipioId");
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetMunicipioIdByCiudadId", "Clientes")',
                data: { "id": selectedItemValue },
                success: function (data) {
                    ddlMunicipio.html('');
                    $.each(data, function (id, option) {
                        ddlCiudades.append($('<option></option>').val(option.MunicipioId).html(option.Nombre));
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Found error to load Ciudad!.');
                }
            });
        });
        });
         $("#MunicipioId").change(function () {
            var selectedItemValue = $(this).val();

            var ddlSector = $("#SectorId");
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetSectorIdByMunicipioId", "Clientes")',
                data: { "id": selectedItemValue },
                success: function (data) {
                    ddlSector.html('');
                    $.each(data, function (id, option) {
                        ddlSector.append($('<option></option>').val(option.SectorId).html(option.Nombre));
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Found error to load Ciudad!.');
                }
            });
        });
    });
    </script>


    <div class="form-horizontal">
        <h4>Clientes</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Nombre" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Sexo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Sexo" class="form-control" />
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Cedula" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Cedula" class="form-control" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProvinciaId, "ProvinciaId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProvinciaId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProvinciaId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CiudadId, "CiudadId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CiudadId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CiudadId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MunicipioId, "MunicipioId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MunicipioId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MunicipioId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SectorId, "SectorId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SectorId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SectorId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Direccion" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Telefono" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Celular" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Fecha" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>




